.cart-style{
    background-color:rgba(255, 153, 0, 0.3);
    padding: 20px;
    height: 100vh;
    position:sticky;
    top: 0;
}

.cart-style > h4{
    text-align: center;
}

.cart-style > p{
    font-size: 12px;
}

.btn-clearcart{
    margin: 10px auto;
    background-color: #ff3030;
    border-radius: 4px;
    color:white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}