.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

nav.header div a{
    margin-left: 16px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

nav.header a:hover{
    color: orange;
}